.places {
  margin: 80px 148px 0 148px;
  width: calc(100% - 2*148px);
}

@media screen and (max-width: 1279px) {
  .places {
    margin: 92px 48px 92px 48px;
    width: calc(100% - 2*48px);
  }
}

@media screen and (max-width: 1023px) {
  .places {
    margin: 88px 24px 90px 24px;
    width: calc(100% - 2*24px);
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin: 64px 0 66px 0;
    width: 100%;
  }
}