.lead {
  width: calc(100% - 2*148px);
  margin: 56px 148px 0 148px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin: 48px 48px 0 48px;
    width: calc(100% - 2*48px); 
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin: 0;
    width: 100%;
  }
}