.intro {
  margin: 92px 442px 92px 148px;
  width: calc(100% - 442px - 148px);
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 92px 286px 92px 48px;
    width: calc(100% - 286px - 48px);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc( 100% - 2*24px);
    margin: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 500px) {
  .intro {
    margin: 64px 16px 0 16px;
    width: calc(100% - 2*16px);
  }
}